.myList-page[b-bp1kitvbjz] {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    padding: 20px;
    width: 100vw;
}

.myList-section[b-bp1kitvbjz] {
    margin-top: 20px;
    overflow: hidden; /* Impede que os itens quebrem o contêiner */
}

    .myList-section h2[b-bp1kitvbjz] {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
