<div class="top-row">
    <div class="">
        <img href="" src="/images/Gifflix.png" />
        @*<a class="navbar-brand" href="">Gifflix</a>*@
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Movies
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span  aria-hidden="true"></span> Recently Added
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
            <span aria-hidden="true"></span> My List
        </NavLink>
    </div>

</div>




@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
</div> *@