/* _content/Gifflix/Components/Component/Banner.razor.rz.scp.css */
/* Banner principal */
.banner-content[b-3558fstnit] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(to right, #000000, #000000d6, #00000000);
    height: -webkit-fill-available;
    padding: 30px;
    max-width: 600px;
}

.badge[b-3558fstnit] {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.title[b-3558fstnit] {
    font-size: 2.5em;
    font-weight: bold;
}

.description[b-3558fstnit] {
    font-size: 1.1em;
    margin: 15px 0;
}

.buttons[b-3558fstnit] {
    display: flex;
    gap: 10px;
}

.play-button[b-3558fstnit], .my-list-button[b-3558fstnit] {
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.play-button[b-3558fstnit] {
    background-color: white;
    color: black;
    font-weight: bold;
}

.my-list-button[b-3558fstnit] {
    background-color: #333;
    color: white;
}
/* _content/Gifflix/Components/Component/Item.razor.rz.scp.css */
.items[b-6hqzgyswyi] {
    margin-top: 25px;
    display: flex; /* Exibe os itens em linha */
    gap: 15px; /* Espaço entre os itens */
    overflow-x: auto; /* Permite rolagem horizontal */
    overflow-y: hidden; /* Impede rolagem vertical */
    white-space: nowrap; /* Impede quebra de linha */
    max-width: 100%; /* Limita a largura ao contêiner pai */
    padding-bottom: 10px; /* Espaço para a barra de rolagem */
}

.item[b-6hqzgyswyi] {
    min-width: 299px;
    max-width: 200px;
    scroll-snap-align: start;
    transition: transform 0.5s ease;
}

    .item img[b-6hqzgyswyi] {
        width: 100%;
        border-radius: 5px;
        transition: transform 0.5s ease; /* Adicione a transição à imagem */
        max-height: 168px;
    }

    .item:hover img[b-6hqzgyswyi] {
        min-width: 310px;
        max-width: 200px;
        transform: scale(1.3);
        transition: transform 0.5s ease;
        position: absolute;
        z-index: 1;
        max-height: 175px;
    }

    .item:hover img[b-6hqzgyswyi] {
        opacity: 1; /* Torna o overlay visível ao passar o mouse */
    }

    .item:hover:first-child img[b-6hqzgyswyi] {
        margin-left: 40px;
    }

    .item:hover:last-child img[b-6hqzgyswyi] {
        background-color: lightgreen; /* Estilo para o último item */
    }

.menu[b-6hqzgyswyi] {
    position: absolute;
    transform: translate(-30%, 0%); /* Ajusta para o centro */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease; /* Transição suave para o menu */
    z-index: 2; /* Garante que o menu fique acima do overlay */
}

.item:hover .menu[b-6hqzgyswyi] {
    opacity: 1; /* Torna o menu visível ao passar o mouse */
    height: 175px;
    background-color: #00000091;
    min-width: 310px;
    max-width: 200px;
    transform: scale(1.3);
}

.item:hover:first-child .menu[b-6hqzgyswyi] {
    margin-left: 40px;
}

.item p[b-6hqzgyswyi] {
    margin-top: 5px;
    font-size: 0.9em;
}

.items-menu[b-6hqzgyswyi] {
    display: none;
    padding: 10px;
    font-size: 25px;    
}

.item:hover .items-menu[b-6hqzgyswyi] {
    display: block;
    padding: 10px;
    font-size: 25px;

    display: flex;
    align-items: flex-end;
    height: -webkit-fill-available;
}

.ico[b-6hqzgyswyi] {
    margin-right: 10px;
    cursor: pointer;
}

    .ico:hover[b-6hqzgyswyi] {
        transform: scale(1.3);
        transition: 0.5s ease;
    }

.play:hover[b-6hqzgyswyi] {
    color: darkred;
}

.star:hover[b-6hqzgyswyi] {
    color: yellow;
}

.thumbs-up:hover[b-6hqzgyswyi] {
    color: dodgerblue;
}

.thumbs-down:hover[b-6hqzgyswyi] {
    color: red;
}



.item:hover .item-hover[b-6hqzgyswyi] {
    height: 100px;
    width: 100px;
    background-color: darkred;
}
/* Estilizando a barra de rolagem (opcional) */
.items[b-6hqzgyswyi]::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.items[b-6hqzgyswyi]::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "thumb" da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

    .items[b-6hqzgyswyi]::-webkit-scrollbar-thumb:hover {
        background: #555; /* Cor do "thumb" ao passar o mouse */
    }
/* _content/Gifflix/Components/Component/Popular.razor.rz.scp.css */
/* Seção Popular */
.popular-items[b-lplqvy3csw] {
    display: flex;  
    gap: 15px; 
    overflow-x: auto; 
    overflow-y: hidden;  
    white-space: nowrap;  
    max-width: 100%; 
    padding-bottom: 10px;  
}

.popular-item[b-lplqvy3csw] {
    min-width: 250px;
    max-width: 300px;
    max-height: 386px;
    text-align: center;
    scroll-snap-align: start;
    
}

    .popular-item img[b-lplqvy3csw] {
        width: 100%;  
        border-radius: 5px;
  
    }

    .popular-item:hover img[b-lplqvy3csw] {
        display:none;
        
    }
    .popular-item:hover[b-lplqvy3csw] {
        /*background-image: url('/images/Ore.gif' )*/;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        animation: increaseleft-b-lplqvy3csw 0.5s forwards;
    }

@keyframes increaseleft-b-lplqvy3csw {
    from {
        left: 0; /* Começa no lado esquerdo */
        width: 0; /* Começa com largura 0 */
    }

    to {
        left: 0; /* Permanece no lado esquerdo */
        min-width: 750px; /* Aumenta para a largura total do contêiner */
    }
}

/*/* Estilizando a barra de rolagem (opcional) */
.popular-items[b-lplqvy3csw]::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.popular-items[b-lplqvy3csw]::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "thumb" da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

    .popular-items[b-lplqvy3csw]::-webkit-scrollbar-thumb:hover {
        background: #555; /* Cor do "thumb" ao passar o mouse */
    }


/* Banner principal */
.banner-content[b-lplqvy3csw] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;   
    height: -webkit-fill-available;
    padding: 30px;
    max-width: 600px;
    min-height: 80%;
}

.badge[b-lplqvy3csw] {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.title[b-lplqvy3csw] {
    font-size: 2.5em;
    font-weight: bold;
}

.buttons[b-lplqvy3csw] {
    display: flex;
    gap: 10px;
    margin-bottom:50px;
}

.play-button[b-lplqvy3csw], .my-list-button[b-lplqvy3csw] {
    padding: 15px 25px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

.play-button[b-lplqvy3csw] {
    background-color: #0000008f;
    color: white;
    /*font-weight: bold;*/
}

.my-list-button[b-lplqvy3csw] {
    background-color: #0000008f;
    color: white;
}
/* _content/Gifflix/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-gi4iy8j4vi] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-gi4iy8j4vi] {
    flex: 1;
}

.sidebar[b-gi4iy8j4vi] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gi4iy8j4vi] {
    background-color: black;
    justify-content: space-between;
    height: 4.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gi4iy8j4vi]  a, .top-row[b-gi4iy8j4vi]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-gi4iy8j4vi]  a:hover, .top-row[b-gi4iy8j4vi]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-gi4iy8j4vi]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-gi4iy8j4vi] {
        justify-content: space-between;
    }

    .top-row[b-gi4iy8j4vi]  a, .top-row[b-gi4iy8j4vi]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gi4iy8j4vi] {
        flex-direction: row;
    }

    .sidebar[b-gi4iy8j4vi] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gi4iy8j4vi] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-gi4iy8j4vi]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-gi4iy8j4vi], article[b-gi4iy8j4vi] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-gi4iy8j4vi] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-gi4iy8j4vi] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Gifflix/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tat5d0k7rm] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-tat5d0k7rm] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-tat5d0k7rm] {
    place-items: center;
    display:flex !important;
    background-color: transparent;
}

.navbar-brand[b-tat5d0k7rm] {
    font-size: 1.1rem;
}

.bi[b-tat5d0k7rm] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-tat5d0k7rm] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-tat5d0k7rm] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-tat5d0k7rm] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-tat5d0k7rm] {
    font-size: 1.3rem;
}
    .nav-item[b-tat5d0k7rm]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-tat5d0k7rm]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-tat5d0k7rm]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-tat5d0k7rm] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-tat5d0k7rm] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-tat5d0k7rm] {
        display: none;
    }

    .nav-scrollable[b-tat5d0k7rm] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/Gifflix/Components/Pages/Datail.razor.rz.scp.css */
body[b-z0ljggkvxf] {
}
/* _content/Gifflix/Components/Pages/Home.razor.rz.scp.css */
/* Estilos gerais da página */
.home-page[b-v396g7pthq] {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    padding: 20px;
    width: 100vw;
}

/* Banner principal */
.banner[b-v396g7pthq] {
    background-image: url('/images/Ore.gif');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
    /*padding: 20px;*/
    margin-bottom: 20px;
}

/* Seção Popular */
.popular-section[b-v396g7pthq] {
    margin-top: 20px;
    overflow: hidden; /* Impede que os itens quebrem o contêiner */
}

    .popular-section h2[b-v396g7pthq] {
        font-size: 1.5em;
        margin-bottom: 10px;
    }



/* Seção item */
.item-section[b-v396g7pthq] {
    margin-top: 20px;
    overflow: hidden; /* Impede que os itens quebrem o contêiner */

    position: static;
    z-index: 10;
}

    .item-section h2[b-v396g7pthq] {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

.items[b-v396g7pthq] {
    margin-top: 25px;
    display: flex; /* Exibe os itens em linha */
    gap: 15px; /* Espaço entre os itens */
    overflow-x: auto; /* Permite rolagem horizontal */
    overflow-y: hidden; /* Impede rolagem vertical */
    white-space: nowrap; /* Impede quebra de linha */
    max-width: 100%; /* Limita a largura ao contêiner pai */
    padding-bottom: 10px; /* Espaço para a barra de rolagem */
}

.item[b-v396g7pthq] {
    min-width: 299px;
    max-width: 200px;
    scroll-snap-align: start;
    transition: transform 0.5s ease;
}

    .item img[b-v396g7pthq] {
        width: 100%;
        border-radius: 5px;
        transition: transform 0.5s ease; /* Adicione a transição à imagem */
        max-height: 168px;
    }

    .item:hover img[b-v396g7pthq] {
        min-width: 310px;
        max-width: 200px;
        transform: scale(1.3);
        transition: transform 0.5s ease;
        position: absolute;
        z-index: 1;
        max-height: 175px;
    }

    .item:hover img[b-v396g7pthq] {
        opacity: 1; /* Torna o overlay visível ao passar o mouse */
    }

    .item:hover:first-child img[b-v396g7pthq] {
        margin-left: 40px;
    }

    .item:hover:last-child img[b-v396g7pthq] {
        background-color: lightgreen; /* Estilo para o último item */
    }

.menu[b-v396g7pthq] {
    position: absolute;
    transform: translate(-30%, 0%); /* Ajusta para o centro */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease; /* Transição suave para o menu */
    z-index: 2; /* Garante que o menu fique acima do overlay */
}

.item:hover .menu[b-v396g7pthq] {
    opacity: 1; /* Torna o menu visível ao passar o mouse */
    height: 175px;
    background-color: #00000091;
    min-width: 310px;
    max-width: 200px;
    transform: scale(1.3);
}

.item:hover:first-child .menu[b-v396g7pthq] {
    margin-left: 40px;
}

.item p[b-v396g7pthq] {
    margin-top: 5px;
    font-size: 0.9em;
}

.items-menu[b-v396g7pthq] {
    display: none;
    padding: 10px;
    font-size: 25px;
}

.item:hover .items-menu[b-v396g7pthq] {
    display: block;
    padding: 10px;
    font-size: 25px;
}

.ico[b-v396g7pthq] {
    margin-right: 10px;
    cursor: pointer;
}

    .ico:hover[b-v396g7pthq] {
        transform: scale(2);
        transition: 0.5s ease;
    }

.play:hover[b-v396g7pthq] {
    color: darkred;
}

.star:hover[b-v396g7pthq] {
    color: yellow;
}

.thumbs-up:hover[b-v396g7pthq] {
    color: dodgerblue;
}

.thumbs-down:hover[b-v396g7pthq] {
    color: red;
}



/* Estilizando a barra de rolagem (opcional) */
.items[b-v396g7pthq]::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.items[b-v396g7pthq]::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "thumb" da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

    .items[b-v396g7pthq]::-webkit-scrollbar-thumb:hover {
        background: #555; /* Cor do "thumb" ao passar o mouse */
    }
