
<div class="banner-content">
    <div class="badge">N SERIES</div>
    <h1 class="title">Lorem Ipsum</h1>
    <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac enim eget elit ullamcorper convallis.
    </p>
    <div class="buttons">
        <button class="play-button">▶ Play</button>
        <button class="my-list-button">+ My List</button>
    </div>
</div>

@code {

}
