.recentlyAdded-page {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    padding: 20px;
    width: 100vw;
}

.recently-section {
    margin-top: 20px;
    overflow: hidden; /* Impede que os itens quebrem o contêiner */
}

    .recently-section h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }